.score {
    font-size: 60px;
    font-weight: bold;
}


.teamName{
    font-size: 6vw;
    font-weight: bold;
}

.shots {
    font-size: 45px;
    font-weight: bold;
    color: royalblue
}

#time{
    position:absolute;
    left:65%;
}

#date{
    position:absolute;
    left:5%;
}

#timeSpec {
    font-size: 5vw;
    font-weight: bold;
    color:royalblue;
}

.scoreSpec{
    font-size: 10vw;
    font-weight: bold;
    margin-bottom:-2vw;
}

.shotsSpec{
    font-size: 7vw;
    font-weight: bold;
    margin-bottom:-2vw;
}

.teamNameSpec{
    font-size: 4vw;
    font-weight: bold;
    margin-bottom:-2vw;
}


#team1{
    position:absolute;
    background: #f0f0f0;
    left:35%;
    top:10%;
    width: 30vw;
    height:80vh;
    text-align: center;
    margin-left:-30vw;
}

#team2{
    position:absolute;
    background: #f0f0f0;
    left:35%;
    top:10%;
    width: 30vw;
    height:80vh;
    text-align: center;
    margin-left:30vw;
}


#center{
    
    font-weight: bold;
    position:absolute;
    background: #f7f7f7;
    left: 35%;
    top:10%;
    width: 30vw;
    height:80vh;
    text-align: center; 
}


#team1Spec{

    position:absolute;
    background: #f0f0f0;
    left:40%;
    top:25%;
    width: 35vw;
    height:45vh;
    text-align: center;
    margin-left:-35vw;
}

#team2Spec{

    position:absolute;
    background: #f0f0f0;
    left:40%;
    top:25%;
    width: 35vw;
    height:45vh;
    text-align: center;
    margin-left: 20vw;
}


#centerSpec{
    font-weight: bold;
    position:absolute;
    background: #f7f7f7;
    left:40%;
    top:25%;
    width: 20vw;
    height:45vh;
    text-align: center;   
}

#timeSpec{
    font-weight: bold;
    position:absolute;
    background: #f7f7f7;
    left:5%;
    top:10%;
    width: 90vw;
    height:15vh;
    text-align: center;   
}

#detailsSpec{
    font-weight: bold;
    position:absolute;
    background: #f7f7f7;
    left:5%;
    top:70%;
    width: 90vw;
    height:20vh;
    text-align: center;   
}
