.score {
    font-size: 60px;
    font-weight: bold;
}


.teamName{
    font-size: 30px;
    font-weight: bold;
}

.shots {
    font-size: 45px;
    font-weight: bold;
    color: royalblue
}

#team1{
    width:200px;
    height:400px;
    margin:0 auto;
    position:absolute;
    background: #f0f0f0;
    left:50%;
    top:10%;
    margin-left:-300px;
/*    margin-top:-250px;*/
    text-align: center;
}

#team2{
    width:200px;
    height:400px;
    margin:0 auto;
    position:absolute;
    background: #f0f0f0;
    left:50%;
    top:10%;
    margin-left:100px;
/*    margin-top:-250px;*/
    text-align: center;
}


#center{
    font-weight: bold;
    width:200px;
    height:400px;
    margin:0 auto;
    position:absolute;
    background:#f7f7f7;
    left:50%;
    top:10%;
    margin-left:-100px;
/*    margin-top:-250px;*/
    text-align: center;
}